**FUNCTIONS**

#def FunctionName(arguments)
- statements
- return

In [3]:
#input:1234
#output:6(2+4)
def EvenDigitSum(n):
    s=0
    while n!=0:
        r=n%10
        if r%2==0:
            s=s+r
        n=n//10
    print(s)
EvenDigitSum(1234)

6

**print largest number**

In [4]:
def LargeNumber(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large, #return allocates some memory and stores the value,print directly prints the value
l=LargeNumber(19535)
l

(9,)

# **collection types**

1. list
2. tuple
3. set
4. dictionaries

# list

In [6]:
list1=[1,1.2,'abc']
list1

[1, 1.2, 'abc']

In [7]:
l=[1,5,6,3,2]
print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])
print(l[-1])
print(l[-3])

1
5
6
3
2
2
6

In [8]:
l=[1,5,6,3,2]
print(l[2:3])
print(l[1:4])
print(l[0:3])

[6]
[5, 6, 3]
[1, 5, 6]

In [9]:
l=[1,5,6,3,2]
print(l[-3])
print(l[-3:-1])
print(l[::2])

6
[6, 3]
[1, 6, 2]

# **##basic functions of list**

In [10]:
l=[1,5,6,3,2]
max(l)

6

In [11]:
l=[1,5,6,3,2]
min(l)

1

In [12]:
l=[1,5,6,3,2]
sum(l)

17

In [13]:
l=[1,5,6,3,2]
len(l)

5

In [14]:
l=[1,5,6,3,2]
(sum(l)/len(l))

3.4

In [15]:
l=[1,5,6,3,2]
l[0]="python"
l

['python', 5, 6, 3, 2]

In [16]:
l[4]="gitam"
l

['python', 5, 6, 3, 'gitam']

In [17]:
l

['python', 5, 6, 3, 'gitam']

In [18]:
l[2]= "abc"

In [19]:
l

['python', 5, 'abc', 3, 'gitam']

# basic list of operations:

In [23]:
l=[2,6,4,5]
print(l*2)
print(2 in l)
print(9 in l)

[2, 6, 4, 5, 2, 6, 4, 5]
True
False

In [24]:
l
for i in l:
    print(i)

2
6
4
5

In [25]:
l

[2, 6, 4, 5]

In [27]:
range(len(l))

range(0, 4)

In [29]:
for i in range(len(l)):
    print(i)

0
1
2
3

In [30]:
print(l)
for i in range(len(l)):
    print(l[i])

[2, 6, 4, 5]
2
6
4
5

# list methods:

In [31]:
l=[2,5,7,1]
print(l)

[2, 5, 7, 1]

In [32]:
l.append("python")
l

[2, 5, 7, 1, 'python']

In [35]:
l.insert(1,"gitam")
l

[2, 'gitam', 5, 7, 1, 'python']

In [36]:
l.count(5)

1

In [38]:
print(l)
l.index('gitam')

[2, 'gitam', 5, 7, 1, 'python']

1

In [39]:
l.pop()
l

[2, 'gitam', 5, 7, 1]

In [40]:
l.pop(1)
l

[2, 5, 7, 1]

In [41]:
print(l)
li=["abc","gitam"]
print(li)
l.extend(li)
l

[2, 5, 7, 1]
['abc', 'gitam']

[2, 5, 7, 1, 'abc', 'gitam']

In [42]:
print(l)

[2, 5, 7, 1, 'abc', 'gitam']

In [43]:
l=[3,78,54,12,54]
l.sort()
l

[3, 12, 54, 54, 78]

In [45]:
l.reverse()

In [46]:
l

[3, 12, 54, 54, 78]

In [47]:
l.reverse()
l

[78, 54, 54, 12, 3]

In [54]:
#function to print the biggest number from the list

def LargeNumber(l):
    l.sort()
    return l[-1]
list1=[1,45,32,56,390]
LargeNumber(list1)

390

In [55]:
#function to print the biggest number from the list

def LargeNumber(l,n):
    l.sort()
    return l[n]
list1=[1,45,32,56,390]
LargeNumber(list1,-2)

56

# TUPLE:

- TUPLES are enclosed in paranthesis()
- TUPLES are immutable i.e, elements inside a tuple cannot be changed , or deleted
- modifications are not possible in tule
- TUPLE are used only to access the data

# differences between list and tuples:

- list---> [] , tuples---> ()
- list is mutable(changes can be made) , Tuples is immutable(no changes can be made)

In [57]:
t1=(1,6.45,"python")
print(t1)
print(type(t1))

(1, 6.45, 'python')
<class 'tuple'>

In [58]:
t1[0:2]

(1, 6.45)

In [59]:
t1[0]="gitam"

TypeError: 'tuple' object does not support item assignment

In [60]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [61]:
help('tuple')

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
help['list']

# dictionary

- dictionary are enclosed in {}
- it consist of key value pairs
- each key is seperated to its value by a ;
- each key value is seperated with other pairs by ,
- keys must be unique while creating a dictionary

In [2]:
dl ={"Name":"gitam","email id":"gitam@gmail.com","address":"hyd"}
print(dl)
print(type(dl))

{'Name': 'gitam', 'email id': 'gitam@gmail.com', 'address': 'hyd'}
<class 'dict'>

In [5]:
dl["Name"]

'gitam'

In [9]:
dl["email id"]="python@gmail.com"
dl

{'Name': 'gitam', 'email id': 'python@gmail.com', 'address': 'hyd'}

In [11]:
dl["course"]="python"
dl

{'Name': 'gitam',
 'email id': 'python@gmail.com',
 'address': 'hyd',
 'course': 'python'}

In [14]:
del dl['course']

In [15]:
dl

{'Name': 'gitam', 'email id': 'python@gmail.com', 'address': 'hyd'}

In [16]:
dl.keys()

dict_keys(['Name', 'email id', 'address'])

In [17]:
dl.values()

dict_values(['gitam', 'python@gmail.com', 'hyd'])

In [21]:
d={"course":"python","language":"english","course":"c"}

In [22]:
d

{'course': 'c', 'language': 'english'}

# strings

In [24]:
s="python"
print(s[0])
print(s[0:4])
print(s[0:5:2])
print(s[0:-4])

p
pyth
pto
py

In [25]:
s="python"
print(s[::2])

pto

# function to check for palindrome of a string

In [32]:
def PallinString(s):
    if s == s[::-1]:
        print("palindrome")
    else:
        print("not a palindrome")
PallinString("string")

not a palindrome

# string methods

- join():method to concatenate the strings
- split():used to split the statement or word

In [34]:
s
print(",".join(s))

p,y,t,h,o,n

In [35]:
s
print(" ".join(s))

p y t h o n

In [36]:
s3="python programming is easy to learn"
print(s3.split())

['python', 'programming', 'is', 'easy', 'to', 'learn']

In [37]:
s3="python programming is easy to learn"
print(s3.split('a'))

['python progr', 'mming is e', 'sy to le', 'rn']

In [38]:
s3="python programming is easy to learn"
print(s3.split('i'))

['python programm', 'ng ', 's easy to learn']