In [3]:
s="Python"
print(s.upper())  #converts the given string into upper case
print(s.lower())

PYTHON
python

# String Boolean Methods:

In [4]:
print(s)
print(s.isupper())
print(s.islower())

Python
False
False

In [6]:
#is title
s1="Python Programming "
s2="python programming "
print(s1.istitle())
print(s2.istitle())

True
False

In [7]:
#is numeric
s3="Py123"
s4="12345"
print(s3.isnumeric())
print(s4.isnumeric())

False
True

In [8]:
#is alpha 
s="Python"
s1="Py123"
print(s.isalpha())
print(s1.isalpha())

True
False

In [9]:
#is space
s=" "
s1="Py th on"
print(s.isspace())
print(s1.isspace())

True
False

In [13]:
#function to convert digits in a number to a list
#input: 18976
#output: [1,8,9,7,6]

def NumberListConversion(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    a=li.reverse()    
    return li 
NumberListConversion(18976)

[1, 8, 9, 7, 6]

In [15]:
#function to check factors of a given number
# input:12
#output:1,2,3,6,12
def FactorsList(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i)
FactorsList(12)

1
2
3
4
6
12

In [16]:
#function to check factors of a given number
# input:12
#output:1,2,3,6,12
def FactorsList(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
FactorsList(12)

1 2 3 4 6 12

In [27]:
#input:500,520
#output:500,502,504,506,508......520
def AlternateSequence(lb,ub):
    for i in range(lb,ub+2,2):
        
            print(i)
AlternateSequence(500,520)

500
502
504
506
508
510
512
514
516
518
520

In [28]:
a=13478
int(max(str(a)))

8

a=13478
b=str(a)
print(b)
type(b)

In [30]:
c=max(str(a))

In [31]:
d=int(c)
d

8

In [33]:
#Input: s="python"
#Output: ['p','y','t','h','o','n']  
s="python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

145:1!+4!+5!=145 ---> Strong Number

In [36]:
def factorial(n):
    fact=1
    i=1
    while i<=n:
        fact=fact*i
        i=i+1
    return fact
factorial(5)

120

In [43]:
def factorial(n):
    fact=1
    i=1
    while i<=n:
        fact=fact*i
        i=i+1
    return fact
def factorialsum(n):
    s=0
    buffer =n
    while n!=0:
        r=n%10
        s=s+factorial(r)
        n=n//10
    return s  
factorialsum(145)

145